<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Writings</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Some of the thoughts in my head. Limited.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <div id="retainable-rss-embed" 
  data-rss="http://medium.com/feed/@ajsanjoaquin"
  data-maxcols="3" 
  data-layout="grid" 
  data-poststyle="inline" 
  data-readmore="Read the rest" 
  data-buttonclass="btn btn-primary" 
  data-offset="-100"></div>
    <script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
</div>